body {
  font-style: arial;
  max-width: 65%;
  float: left;
}

.poem {
  font-style: tahoma;
}

.mom {
  background-color: yellow;
}

.sidebar {
  max-width: 30%;
  border-color: 5px black solid;
  float: right;
  margin-left: 25px;
}